version: '3.7'

services:

  # DATABASE
  postgres:
    image: postgres:11
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: whosaidtrue-dev
    restart: 'always'
    ports:
      - '5432:5432'
    volumes:
      - data:/var/lib/postgresql/data
  
  # PGADMIN
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: address@email.com # use these credentials to log in to pgadmin
      PGADMIN_DEFAULT_PASSWORD: secret
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8080:80" # go to localhost:8080 to access pgadmin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres
  
# named volume to help identify db data volume
volumes: 
  data:
  pgadmin-data: