version: '3.7'

services:

  # Redis
  redis:
    image: redislabs/rejson:2.0.0
    env_file:
      - .env
    ports:
      - '6379:6379'
    command: "redis-server --requirepass ${REDIS_PASSWORD} --loadmodule /usr/lib/redis/modules/rejson.so"

  # DATABASE
  postgres:
    image: postgres:11
    container_name: postgres
    env_file:
      - .local.env
    restart: 'always'
    ports:
      - '5432:5432'
    volumes:
      - data:/var/lib/postgresql/data
      - ./apps/database/dev:/usr/local/dev # Used to facilitate running sql files from host. See database README
  
  # PGADMIN
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: address@email.com # use these credentials to log in to pgadmin
      PGADMIN_DEFAULT_PASSWORD: secret
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8080:80" # go to localhost:8080 to access pgadmin
    volumes:
      - pgadmin-data:/var/lib/pgadmin

    depends_on:
      - postgres
  
# named volume to help identify db data volume
volumes: 
  data:
  pgadmin-data:
