version: '3.7'

services:

  api:
    image: 680712662822.dkr.ecr.us-east-2.amazonaws.com/whosaidtrue/api:20211016-dd0d9d2
    container_name: api
    restart: always
    env_file:
      - .env
      - .ebs.env
    environment:
      - PORT=3000
    ports:
      - 3000:3000

  socket-server:
    image: 680712662822.dkr.ecr.us-east-2.amazonaws.com/whosaidtrue/socket-server:20211016-dd0d9d2
    container_name: socket-server
    restart: always
    env_file:
      - .env
      - .ebs.env
    environment:
      - PORT=4001
    ports:
      - 4001:4001
